In [3]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy,edge_process
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
Dataset='/Fire/'
Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\edge_process.ipynb

In [4]:
video=os.listdir(negative_os)

Euler_list=[]
for i in video:
    start=5
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start)
            
            euler=edge_process.Edges_lib.Euler_Num(cdi)
            in_list.append(euler)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Euler_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
p_video=os.listdir(positive_os)

P_Euler_list=[]
for i in p_video:
    start=5
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start)
            
            euler=edge_process.Edges_lib.Euler_Num(cdi)
            in_list.append(euler)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Euler_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [6]:

Combine_Euler=Euler_list+P_Euler_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Euler)):
#     Combine_Euler[i] = ((min_max_scaler.fit_transform(np.array(Combine_Euler[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Euler:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * len(video)
y =[1]*len(p_video)
z=x+y

In [8]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    88 84 73 72 64 65 39 79 67 65 71 72 58 61 83 8...      0
1    66 74 59 68 63 51 31 75 64 58 42 63 82 59 39 6...      0
2                  8 7 9 8 1 2 2 1 2 3 7 6 5 3 7 4 3 1      0
3        15 13 26 29 17 18 12 12 12 41 8 3 1 0 0 0 0 0      0
4    58 53 39 30 54 7 46 49 53 37 29 55 26 2 12 29 ...      0
..                                                 ...    ...
263             12 7 8 7 4 2 1 3 1 4 6 7 5 7 10 10 7 8      1
264             1 7 7 14 19 14 6 6 1 4 9 1 3 2 3 2 5 4      1
265         1 1 2 1 6 2 9 20 19 6 8 7 4 14 27 48 18 26      1
266                2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1      1
267  14 15 8 10 15 3 10 7 14 13 17 19 14 11 20 13 1...      1

[268 rows x 2 columns]

In [9]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/20/CDI_Based/Intensity/CSV'+Dataset+'Euler_Num.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,Class
0,88,84,73,72,64,65,39,79,67,65,71,72,58,61,83,84,73,23,0
1,66,74,59,68,63,51,31,75,64,58,42,63,82,59,39,64,69,51,0
2,8,7,9,8,1,2,2,1,2,3,7,6,5,3,7,4,3,1,0
3,15,13,26,29,17,18,12,12,12,41,8,3,1,0,0,0,0,0,0
4,58,53,39,30,54,7,46,49,53,37,29,55,26,2,12,29,23,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,12,7,8,7,4,2,1,3,1,4,6,7,5,7,10,10,7,8,1
264,1,7,7,14,19,14,6,6,1,4,9,1,3,2,3,2,5,4,1
265,1,1,2,1,6,2,9,20,19,6,8,7,4,14,27,48,18,26,1
266,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
267,14,15,8,10,15,3,10,7,14,13,17,19,14,11,20,13,11,16,1