In [6]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy,edge_process
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
Dataset='/Fire/'
Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

In [7]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=5
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [8]:
p_video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in p_video:
    start=5
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [9]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [10]:
x = [0] * len(video)
y =[1]*len(p_video)
z=x+y

In [11]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    1891590 1785510 1748280 1665150 1575900 230316...      0
1    2123895 1980075 1828605 2140215 2262105 274839...      0
2    4151655 4120545 4174860 4174095 4527270 488707...      0
3    2426325 2762925 2395215 2418675 2890935 300874...      0
4    3746970 3165315 4081275 4250850 4007580 542334...      0
..                                                 ...    ...
263  3939495 3795165 3776295 4046850 3771195 397366...      1
264  3323160 2955450 2551275 1673820 1466760 204688...      1
265  4288590 3966780 3954540 4085355 3959895 401829...      1
266  5458275 5433030 5704095 5867295 5369535 557277...      1
267  3280065 3146700 3680415 3454995 3569235 422101...      1

[268 rows x 2 columns]

In [12]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/20/CDI_Based/Intensity/CSV'+Dataset+'Laplacian.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,Class
0,1891590,1785510,1748280,1665150,1575900,2303160,2959275,1975995,1711815,1840845,1812030,1729410,1724820,1979055,2458200,2527815,2621655,3295875,0
1,2123895,1980075,1828605,2140215,2262105,2748390,2884050,2041020,1823505,1619505,1256130,1669230,2477835,2514555,2994465,2716005,2276385,2793780,0
2,4151655,4120545,4174860,4174095,4527270,4887075,4779210,4555830,4730250,4452045,4342650,4507125,4426800,4406655,4463265,4516305,4677465,4939605,0
3,2426325,2762925,2395215,2418675,2890935,3008745,1666680,1606500,2718045,835635,193035,82110,45135,17085,17085,17085,17085,11985,0
4,3746970,3165315,4081275,4250850,4007580,5423340,4228920,3442755,3437910,4168995,4734075,4229430,4761360,5563080,5141565,4381665,4389315,5556705,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,3939495,3795165,3776295,4046850,3771195,3973665,3601875,3496050,3527925,3195915,3074535,2845035,2811630,2832030,3016140,3081420,2912355,2953155,1
264,3323160,2955450,2551275,1673820,1466760,2046885,2647920,2857020,3196170,2995740,3052095,3686535,3463410,3388185,3262470,3030930,2843250,2865690,1
265,4288590,3966780,3954540,4085355,3959895,4018290,3027870,2614770,3252270,3800520,3694695,3624060,3766095,3147975,3088305,2377875,1407345,1715385,1
266,5458275,5433030,5704095,5867295,5369535,5572770,6048345,6174570,6003210,5593425,5762235,5705370,5675280,5436090,5062005,5334345,5460570,5279775,1
267,3280065,3146700,3680415,3454995,3569235,4221015,3181380,2462025,2254710,2610690,2587230,2183565,2443155,2929950,2966160,2660415,2616810,3481770,1