In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'

    video=os.listdir(negative_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    Intensity_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=26:
                cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 

    video=os.listdir(positive_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    P_Intensity_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=26:
                cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    

    Combine_Intensity=Intensity_list+P_Intensity_list
    # min_max_scaler =MinMaxScaler()
    # for i in range(len(Combine_Intensity)):
    #     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Intensity:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))

    x = [0] * len(Intensity_list)
    y =[1]*len(P_Intensity_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/Mag.csv')
    display(data_df)

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb
268

                                             intensity  label
0    372.92203 362.6913 350.63812 210.8773 214.7508...      0
1    240.19547 240.12958 256.62112 252.72621 170.48...      0
2    1517.8735 1229.6251 1227.2352 1408.0652 1701.6...      0
3    2443.0737 3847.7566 10229.559 3523.6807 6001.0...      0
4    9062.741 11081.287 10685.924 8698.271 5733.898...      0
..                                                 ...    ...
263  24703.18 10529.967 7170.648 16003.615 17353.64...      1
264  3298.5679 1485.2087 1531.6362 23056.814 89351....      1
265  142.57343 149.19235 14441.8125 28102.324 12007...      1
266  8838.767 27726.596 20305.998 45738.504 36611.7...      1
267  1362.3179 3432.692 4695.8667 6898.2524 11023.1...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,372.92203,362.6913,350.63812,210.8773,214.75081,164.38365,212.3516,251.4654,312.6156,205.60248,...,288.03723,410.0701,441.60355,379.8768,1398.7834,278.716,301.12616,239.11705,477.2661,0
1,240.19547,240.12958,256.62112,252.72621,170.48306,281.75586,174.03131,173.71799,255.81352,238.5696,...,435.28314,518.0449,914.143,449.55862,2467.9111,4137.2305,3146.771,2503.685,910.9932,0
2,1517.8735,1229.6251,1227.2352,1408.0652,1701.6107,1425.3519,1373.9668,1437.9149,1633.4954,1862.8259,...,1676.284,1532.1061,1503.2603,1570.2098,1742.7628,1926.927,1565.9733,1381.2252,1356.1907,0
3,2443.0737,3847.7566,10229.559,3523.6807,6001.053,8588.636,15606.876,9383.27,9314.141,4888.855,...,2.9655285,2.965872,2.965872,1.3545805,3908.442,161.7076,52.62399,2.9529881,3.2751338,0
4,9062.741,11081.287,10685.924,8698.271,5733.8984,8995.766,8062.0996,9380.41,5809.6294,5657.079,...,52994.87,59666.29,20668.38,10549.264,3290.1765,5431.465,9030.6875,10763.368,9192.955,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,24703.18,10529.967,7170.648,16003.615,17353.648,15548.207,10682.514,40535.824,114278.97,44923.434,...,11710.026,11704.487,9859.623,15381.029,8233.648,6524.2046,10379.617,8576.629,5150.418,1
264,3298.5679,1485.2087,1531.6362,23056.814,89351.97,23801.676,78610.445,23310.027,23148.64,13286.738,...,13592.53,8032.7056,8559.471,13853.692,12117.484,10047.815,10048.92,8023.141,5045.871,1
265,142.57343,149.19235,14441.8125,28102.324,12007.33,13305.759,18995.36,3942.528,3642.4514,3436.8596,...,3571.1235,4132.2764,2351.6658,2268.4426,4443.415,5769.0083,4667.779,4951.398,8649.076,1
266,8838.767,27726.596,20305.998,45738.504,36611.777,9760.23,10156.101,14908.927,33021.06,23952.771,...,121140.95,14662.49,11355.047,11260.518,7024.2285,5204.0024,7922.694,6405.315,64505.066,1
267,1362.3179,3432.692,4695.8667,6898.2524,11023.139,17943.27,14343.605,18915.57,13119.688,16002.315,...,4794.359,4611.1035,3215.7544,3561.279,5640.7627,4596.208,5800.657,5063.8213,7905.587,1

311

                                             intensity  label
0    988.3669 175.44109 361.91776 247.36005 108.590...      0
1    930.0564 1790.4213 1249.7902 1067.5514 1505.53...      0
2    276.43964 27.293333 84.35953 973.1193 240.2003...      0
3    455.53552 4734.2974 3670.4202 5067.18 561.3537...      0
4    10415.064 4834.4683 4052.2073 13373.046 3938.6...      0
..                                                 ...    ...
306  1718.4314 2090.1472 1258.4229 1988.575 1798.21...      1
307  541.1331 9692.519 792.94824 819.5861 4408.7607...      1
308  449.82703 329.25705 40369.44 28275.65 4582.137...      1
309  37139.098 41346.63 12335.483 8048.122 4547.213...      1
310  2899.0942 4920.6934 5519.082 3620.9756 3376.07...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,988.3669,175.44109,361.91776,247.36005,108.59085,116.81109,755.5121,415.54663,459.68686,439.5641,...,345.47638,67.87378,76.5795,609.8738,2704.8977,596.1111,294.66406,132.1786,343.93466,0
1,930.0564,1790.4213,1249.7902,1067.5514,1505.532,467.0539,902.11035,1108.9097,540.39185,537.0299,...,603.086,578.0877,1551.1116,926.32623,2544.8142,532.6037,1373.9475,699.61945,483.91727,0
2,276.43964,27.293333,84.35953,973.1193,240.20035,178.89664,52.47563,50.11069,25.761166,25.612968,...,12.696131,40.95445,31.315317,84.259315,187.68967,86.561295,80.48825,62.22914,175.64241,0
3,455.53552,4734.2974,3670.4202,5067.18,561.35376,640.76086,6316.971,7216.6377,20994.768,53184.074,...,512.0515,43885.613,15545.699,9931.891,1582.0459,935.8607,2420.8142,1483.1285,1529.4883,0
4,10415.064,4834.4683,4052.2073,13373.046,3938.6384,2434.5642,11002.358,5045.53,3618.6785,3582.933,...,8412.286,6973.692,2926.3674,3462.8022,5241.7617,2840.1875,4305.864,2508.8135,4041.362,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1718.4314,2090.1472,1258.4229,1988.575,1798.2129,1822.245,2693.0278,2468.129,1132.6532,1241.0067,...,1543.1697,1382.7456,1630.1946,1619.1385,4962.088,835.5107,919.0147,825.5148,936.0471,1
307,541.1331,9692.519,792.94824,819.5861,4408.7607,1322.7192,1039.9124,1268.7585,22540.986,1010.9184,...,1103.2526,1165.0985,1791.1995,1639.1073,2730.9202,1188.5988,975.75146,1052.5201,1137.7075,1
308,449.82703,329.25705,40369.44,28275.65,4582.137,8318.624,664.7377,604.9513,41253.094,25756.521,...,280.70172,229.32889,22115.922,12050.22,5694.009,3784.6748,312.50067,277.19928,18701.914,1
309,37139.098,41346.63,12335.483,8048.122,4547.213,4830.968,9530.719,30812.588,8439.64,3884.6826,...,7449.55,27052.729,9181.744,5122.929,7024.1724,21983.008,4878.203,3571.5847,2557.3577,1
310,2899.0942,4920.6934,5519.082,3620.9756,3376.078,7931.0273,8691.209,6585.1284,14565.053,1129.5573,...,1888.5829,840.3537,1261.9004,1116.9476,1411.0591,888.5456,1185.7913,808.38135,643.4103,1

289

                                             intensity  label
0    974.5286 1021.10583 733.9467 323.47324 147.781...      0
1    1940.3961 2075.6128 2021.9432 1901.088 2507.09...      0
2    604.5585 300.52344 597.54175 524.2876 1215.98 ...      0
3    252.45657 244.78082 229.16447 450.02448 364.91...      0
4    957.9982 651.1971 995.2226 555.50214 796.565 5...      0
..                                                 ...    ...
284  2656.3176 3174.0464 9061.337 7563.9536 6827.56...      1
285  1256.632 3961.063 1688.4305 879.83856 1513.195...      1
286  1507.1086 1354.7972 2255.4983 2198.7976 1999.1...      1
287  2834.1572 2357.3572 2381.943 2411.6812 3963.89...      1
288  1870.7385 2575.342 4369.7183 4605.3643 5016.60...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,974.5286,1021.10583,733.9467,323.47324,147.78178,133.92369,225.4314,15.949368,1.1298232,7.9495583,...,2793.6543,1038.327,946.93353,1234.839,2852.7375,1529.4309,1366.3126,1377.7064,2545.589,0
1,1940.3961,2075.6128,2021.9432,1901.088,2507.0962,4273.011,4342.3267,3514.2527,3018.1958,5977.498,...,5187.99,1303.0308,1182.2451,1702.8861,2679.834,1407.5487,1403.4031,617.9451,702.4869,0
2,604.5585,300.52344,597.54175,524.2876,1215.98,964.5733,930.4861,436.89615,1920.4316,1347.8933,...,3557.938,858.49945,1063.8923,1054.6918,3402.4333,995.2319,735.8922,460.46265,1363.644,0
3,252.45657,244.78082,229.16447,450.02448,364.9199,292.59717,621.0071,301.91266,343.52795,642.88275,...,483.99258,271.06454,158.70012,544.0846,1415.0543,146.40007,509.0828,137.41003,174.1734,0
4,957.9982,651.1971,995.2226,555.50214,796.565,531.5547,1988.8164,322.2847,318.99347,1040.0103,...,2962.161,1491.4037,2416.9167,3670.2068,2937.8635,4111.114,7658.8765,6456.87,7171.8477,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,2656.3176,3174.0464,9061.337,7563.9536,6827.5674,8988.806,4546.584,7145.1,9143.576,5486.291,...,13683.481,13648.545,184.79709,191.68463,755.2382,16839.146,8893.576,8679.096,7468.245,1
285,1256.632,3961.063,1688.4305,879.83856,1513.1953,2240.1487,2642.0723,1835.2412,1223.0516,1276.9613,...,2343.414,1848.0441,2729.8684,6380.422,4537.4766,5659.096,4096.341,8024.827,8015.143,1
286,1507.1086,1354.7972,2255.4983,2198.7976,1999.1493,3462.3455,2109.4143,1871.9032,3658.1704,3908.412,...,8604.454,5356.692,11112.06,7208.439,5780.0293,9828.812,4422.3467,2983.0608,3842.9888,1
287,2834.1572,2357.3572,2381.943,2411.6812,3963.8901,4917.442,3775.283,3289.321,3838.3115,4824.3003,...,6205.951,4699.0674,4175.8813,4285.549,6398.7554,5543.4526,5365.7393,4424.8306,3551.6948,1
288,1870.7385,2575.342,4369.7183,4605.3643,5016.606,7168.693,8122.999,8259.262,14199.576,23434.78,...,6769.375,6393.563,3994.5247,3398.2644,3793.125,3101.2073,3286.1702,2349.5107,2107.4617,1

283

                                             intensity  label
0    1059.7578 2659.0266 2321.8018 8773.191 1144.18...      0
1    341.63284 394.7217 219.31555 361.76215 175.184...      0
2    4079.646 3486.5566 3970.167 5852.268 4903.717 ...      0
3    1401.111 738.1875 476.41772 305.58316 384.9815...      0
4    441.41898 342.0022 321.9698 434.4226 486.9144 ...      0
..                                                 ...    ...
278  5295.449 6614.5776 4955.7393 22025.268 9354.86...      1
279  5994.673 12133.8955 5824.9497 8965.112 6694.28...      1
280  10218.986 6176.715 5052.0293 6147.2637 5096.43...      1
281  1665.3116 2918.079 3233.6487 11310.867 4027.78...      1
282  5992.153 5049.8477 6299.63 2951.4536 3965.38 3...      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,1059.7578,2659.0266,2321.8018,8773.191,1144.1874,807.644,506.02496,571.8264,5513.4414,695.4462,...,343.80188,518.93,469.1126,1353.8508,3537.8965,2137.9893,1674.3875,1005.59,1390.1233,0
1,341.63284,394.7217,219.31555,361.76215,175.18451,112.58303,5227.182,169.7686,123.69981,8754.259,...,7697.497,16063.67,116.445816,136.50198,14587.576,4307.8926,6611.47,83.68276,48.996593,0
2,4079.646,3486.5566,3970.167,5852.268,4903.717,6259.5225,21279.496,15556.382,25694.316,36730.844,...,3270.5374,1067.7467,774.4169,1377.1035,2199.972,1413.83,2348.898,1597.3068,1877.5664,0
3,1401.111,738.1875,476.41772,305.58316,384.9815,586.6925,410.40314,356.9963,597.0344,571.69525,...,636.076,1608.7797,802.86584,422.5195,2505.9626,833.14496,1187.7859,106.43874,57.82832,0
4,441.41898,342.0022,321.9698,434.4226,486.9144,492.3221,510.2208,467.2524,483.51004,441.85788,...,328.3365,353.97034,319.36673,390.13538,2280.5315,772.8907,798.2258,449.44348,290.6463,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,5295.449,6614.5776,4955.7393,22025.268,9354.869,6622.813,39840.594,18968.934,48096.688,18881.959,...,22336.15,41577.66,46404.16,98780.56,50028.92,103294.41,38075.86,81132.4,976.9794,1
279,5994.673,12133.8955,5824.9497,8965.112,6694.2837,6070.4736,8164.99,12040.2705,12354.406,13003.005,...,11709.7705,11097.567,28228.555,11139.556,9855.126,5338.441,7825.325,6578.2856,6332.5474,1
280,10218.986,6176.715,5052.0293,6147.2637,5096.4385,5167.833,6634.504,4939.607,3711.3472,7047.81,...,22173.645,11578.525,14211.173,9603.46,8822.507,14857.643,5859.34,7591.608,3398.6177,1
281,1665.3116,2918.079,3233.6487,11310.867,4027.784,4799.3276,2989.6575,3340.3467,3618.2249,3968.989,...,2817.0757,2928.7092,2485.4316,2720.008,3982.0862,3193.2258,6451.3115,6637.6577,4720.121,1
282,5992.153,5049.8477,6299.63,2951.4536,3965.38,3004.4932,5364.16,2425.081,3942.0125,3109.4482,...,4051.9182,3023.0493,3798.3757,3221.1057,3848.008,4037.8257,4662.9775,4743.278,11153.314,1

268

                                             intensity  label
0    586.76105 570.88837 629.1652 746.3787 466.9587...      0
1    1487.082 1482.388 1221.8765 1487.7239 1682.680...      0
2    3997.0864 4725.2944 2437.333 2418.621 2322.398...      0
3    627.12085 236.43054 233.08577 587.6347 345.727...      0
4    219.91739 146.82297 110.280876 179.04475 194.7...      0
..                                                 ...    ...
263  2649.525 832.36096 766.9102 656.4345 1392.9839...      1
264  4366.076 5253.2617 3682.32 4259.741 3653.2756 ...      1
265  1259.99 710.0479 1817.5568 464.72177 1007.0577...      1
266  24187.963 14038.947 25708.852 16199.426 16599....      1
267  765.6092 44295.06 22582.861 45181.453 18865.90...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,586.76105,570.88837,629.1652,746.3787,466.95877,649.6765,402.60876,516.5104,609.1084,368.9833,...,247.69357,227.14551,218.51382,230.5259,1273.8881,514.7648,413.46637,512.9972,796.40045,0
1,1487.082,1482.388,1221.8765,1487.7239,1682.6805,1135.6938,969.5477,1131.0994,1065.9447,1057.5964,...,820.6934,1010.53577,1073.4473,1230.7682,1961.5056,925.31274,855.3593,1132.3654,919.543,0
2,3997.0864,4725.2944,2437.333,2418.621,2322.398,2069.4275,2468.6133,1780.4132,1530.2422,1308.2653,...,1101.302,1289.206,1427.282,1021.97705,1281.8768,904.46893,667.5056,561.9745,860.41034,0
3,627.12085,236.43054,233.08577,587.6347,345.72708,296.34213,574.97205,246.12138,194.81125,632.9374,...,578.80237,151.09563,160.48817,541.47406,1093.9678,182.5375,469.53372,203.77255,296.8833,0
4,219.91739,146.82297,110.280876,179.04475,194.71243,153.23369,198.42319,133.17293,148.48108,149.94809,...,95.28019,75.054344,70.148544,106.647766,851.65466,100.52083,99.84924,131.6719,81.38464,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2649.525,832.36096,766.9102,656.4345,1392.9839,1038.3934,2633.8003,1060.9711,1313.7002,1718.6702,...,645.0557,612.471,640.78815,50700.13,27520.006,27257.885,28311.17,21255.895,32054.924,1
264,4366.076,5253.2617,3682.32,4259.741,3653.2756,8645.585,4687.292,4354.249,2727.8447,3612.9707,...,1633.4341,1431.5935,2597.081,3076.6965,2761.1025,2326.918,4054.56,3063.8457,3357.5269,1
265,1259.99,710.0479,1817.5568,464.72177,1007.0577,1992.6183,1777.9713,2457.7175,1467.4023,1457.5454,...,5068.5366,5263.1323,3337.929,3931.4,25776.906,7655.5,8780.094,12388.916,8643.586,1
266,24187.963,14038.947,25708.852,16199.426,16599.516,16525.701,7253.5596,7118.8965,28224.346,11754.134,...,7397.8555,5348.9526,22135.414,15309.166,13973.327,5719.5967,6037.038,4368.2534,4593.8633,1
267,765.6092,44295.06,22582.861,45181.453,18865.908,15556.628,18789.03,22405.172,19781.55,16123.191,...,29154.184,21335.988,22265.82,37130.957,26822.367,6886.012,5720.1226,17425.658,9640.09,1