In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
datasets=['Explosion','Road_Accident','Fighting','Robbery','Burglary']
for data_name in datasets:
    
    Home_os='D:/new/'+data_name+'/'
    negative_os=Home_os+'negative/'
    positive_os=Home_os+'positive/'
    video=os.listdir(negative_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    Intensity_list=[]
    for i in video:
        start=0
        video_name=negative_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=26:
                cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    
    video=os.listdir(positive_os)
    #My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    P_Intensity_list=[]
    for i in video:
        start=0
        video_name=positive_os+i
        cap = cv.VideoCapture(video_name)
        My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
        in_list=[]
        while 1:
            if start<=26:
                cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
                Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
                in_list.append(Intensity)
                cv.imshow('frame',frame)
                cv.imshow('cdi',cdi)
                k = cv.waitKey(1) 
                start+=1
                if k ==27:     
                    break 
            else:
                break
        P_Intensity_list.append(in_list)
        cap.release()
    cv.destroyAllWindows() 
    

    Combine_Intensity=Intensity_list+P_Intensity_list
    # min_max_scaler =MinMaxScaler()
    # for i in range(len(Combine_Intensity)):
    #     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
    new_list=[]
    for i in Combine_Intensity:
            str1 = ' '.join([str(x) for x in i])
            new_list.append(str1)

    print(len(new_list))

    x = [0] * len(Intensity_list)
    y =[1]*len(P_Intensity_list)
    z=x+y
    combine_dict={'intensity':new_list,'label':z}
    df=pd.DataFrame(combine_dict)

    display(df)
    y=df['label'].values

    data_df = df['intensity'].str.split(' ', expand=True)

    data_df['Class'] =y
    data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/CDI/Intensity/CSV/'+data_name+'/Optical_Ang.csv')
    display(data_df)

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\CDI\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb
268

                                             intensity  label
0    41517.383 46243.195 50213.51 48564.62 47253.13...      0
1    45571.363 44183.336 44261.29 43227.465 42442.4...      0
2    52829.117 57250.074 52960.84 53769.95 51697.95...      0
3    35359.363 35041.8 34450.543 31039.785 32581.20...      0
4    30237.719 31306.467 29290.838 28825.803 32296....      0
..                                                 ...    ...
263  49705.1 42685.668 52887.23 66005.266 58983.38 ...      1
264  39651.688 35226.39 36477.383 29438.195 25624.1...      1
265  49608.004 27156.943 32731.66 41224.547 43036.3...      1
266  36261.227 39786.168 38564.445 60805.086 45142....      1
267  34146.08 30888.322 34356.59 30020.463 32833.49...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,41517.383,46243.195,50213.51,48564.62,47253.137,41203.62,41810.07,41990.61,46382.402,44329.05,...,44556.355,45286.61,43465.453,43711.67,42153.008,35667.18,40430.383,39293.223,38207.176,0
1,45571.363,44183.336,44261.29,43227.465,42442.445,41081.484,39885.55,45008.055,45332.703,40804.586,...,45154.99,45681.477,44385.438,35756.36,42928.957,41720.918,43039.38,43178.41,41953.867,0
2,52829.117,57250.074,52960.84,53769.95,51697.95,52752.5,49191.38,47728.793,45490.37,48717.926,...,53085.984,45066.62,45043.336,46123.2,46589.04,47338.055,46064.566,46574.496,47054.395,0
3,35359.363,35041.8,34450.543,31039.785,32581.207,33702.82,37097.355,40790.992,36675.98,33821.934,...,62200.08,87386.54,87386.54,30807.486,38568.535,39897.043,65009.93,75728.65,88340.945,0
4,30237.719,31306.467,29290.838,28825.803,32296.393,33004.34,32396.982,37117.758,37167.16,36492.49,...,34176.867,32114.684,39932.66,35943.242,35096.867,36974.55,39431.715,30457.986,26386.412,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,49705.1,42685.668,52887.23,66005.266,58983.38,43073.418,44143.387,50811.227,58566.336,45148.887,...,32626.473,39135.695,34591.484,33571.484,28843.125,26323.703,26936.736,37097.906,29019.691,1
264,39651.688,35226.39,36477.383,29438.195,25624.168,37918.08,36382.58,36871.97,35234.65,34631.816,...,39649.4,31572.324,32281.297,40164.668,40067.934,34494.527,34795.777,36952.527,37628.9,1
265,49608.004,27156.943,32731.66,41224.547,43036.31,36088.133,31747.773,36908.586,39251.047,39364.83,...,39008.07,39481.598,39166.785,41091.824,45164.523,42898.63,44732.16,40157.45,37434.516,1
266,36261.227,39786.168,38564.445,60805.086,45142.55,32221.055,33687.355,66837.836,50878.043,29382.617,...,32629.408,62098.625,65065.723,56958.664,39536.867,38578.766,50386.77,55269.215,44295.78,1
267,34146.08,30888.322,34356.59,30020.463,32833.49,36071.53,26697.385,28093.932,27302.883,35109.688,...,33905.68,32782.24,33219.668,35430.09,42810.92,31519.805,29575.99,33934.63,44328.168,1

311

                                             intensity  label
0    43336.727 33569.94 30666.002 29588.512 29435.8...      0
1    32834.84 38182.83 35685.1 34116.01 35598.727 3...      0
2    33416.367 33369.03 30744.799 36260.617 34042.3...      0
3    39230.71 38624.254 30049.693 40473.09 42803.18...      0
4    34155.492 33570.594 35265.527 36667.312 41642....      0
..                                                 ...    ...
306  30296.613 28403.78 26416.695 31742.05 32345.99...      1
307  44646.098 40385.215 38259.645 34012.742 44475....      1
308  38193.844 38672.56 39157.16 46543.645 35986.94...      1
309  29508.314 53384.703 25603.492 35155.31 30905.2...      1
310  37433.184 41890.36 49326.633 40886.105 38089.4...      1

[311 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,43336.727,33569.94,30666.002,29588.512,29435.867,27627.98,42563.79,35676.754,38029.51,39578.52,...,33282.523,23411.719,22318.283,37298.008,47840.426,40303.223,38673.145,33158.82,40910.8,0
1,32834.84,38182.83,35685.1,34116.01,35598.727,33035.52,30562.307,32555.066,29933.047,29475.639,...,33522.78,30990.22,36963.51,41474.0,53753.727,27280.7,34868.44,32564.215,33242.67,0
2,33416.367,33369.03,30744.799,36260.617,34042.3,32861.69,36996.496,37508.08,27060.305,26725.646,...,35427.098,27692.73,22628.969,20958.797,34850.785,34994.574,31392.379,37012.496,40768.54,0
3,39230.71,38624.254,30049.693,40473.09,42803.18,45922.984,41859.277,43317.69,38208.87,51894.473,...,41405.61,41792.426,42179.28,37087.094,45141.92,34838.855,37626.16,39849.39,38111.43,0
4,34155.492,33570.594,35265.527,36667.312,41642.645,36302.703,39626.637,34881.61,32148.69,34233.82,...,30586.451,30242.24,31657.908,30818.14,35747.438,35180.87,35467.582,36758.72,32611.295,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,30296.613,28403.78,26416.695,31742.05,32345.998,29300.44,24719.49,28494.402,37056.39,30053.316,...,46885.074,23484.975,26177.877,35860.875,29675.635,37990.6,36241.49,37569.188,33665.836,1
307,44646.098,40385.215,38259.645,34012.742,44475.082,44664.98,38130.94,40543.555,43139.312,43295.22,...,41003.816,41192.105,38588.938,40537.387,49764.695,38838.51,37389.05,38563.688,42839.906,1
308,38193.844,38672.56,39157.16,46543.645,35986.94,34374.37,40876.85,38079.656,40757.793,48789.23,...,36314.277,29807.814,35317.67,47444.836,39102.438,32184.967,34300.973,31837.234,41576.0,1
309,29508.314,53384.703,25603.492,35155.31,30905.273,31393.043,32338.941,54538.65,21646.404,19126.164,...,24615.867,54698.633,31586.0,29340.326,33283.625,31486.191,28389.588,31968.559,31084.256,1
310,37433.184,41890.36,49326.633,40886.105,38089.445,43393.28,43524.94,46027.246,44648.664,40610.434,...,40106.797,40241.13,40307.867,39106.28,41917.92,40346.824,42192.63,42123.402,38939.207,1

289

                                             intensity  label
0    45150.242 48629.625 44090.41 37707.14 28336.33...      0
1    37454.508 40205.25 38159.773 36232.28 35860.93...      0
2    37034.08 32958.91 30672.584 35120.055 33878.67...      0
3    40373.01 39172.58 36063.445 39989.805 43870.27...      0
4    41610.598 40422.473 38349.855 38442.582 38594....      0
..                                                 ...    ...
284  35966.43 31354.22 33903.348 33235.08 30908.52 ...      1
285  41874.29 36105.01 41555.37 39560.094 37896.668...      1
286  40157.133 36490.883 37367.066 38694.938 37839....      1
287  39559.773 38093.25 36108.24 35830.58 35106.38 ...      1
288  38479.258 39748.457 41946.24 41614.87 36558.92...      1

[289 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,45150.242,48629.625,44090.41,37707.14,28336.334,25038.332,40529.688,33754.86,35617.883,21151.139,...,44247.12,52964.57,49727.105,48713.81,56395.332,51491.28,50960.547,45955.336,48286.68,0
1,37454.508,40205.25,38159.773,36232.28,35860.934,39269.41,35058.88,37169.617,37897.113,31618.91,...,40190.402,35026.06,35752.227,33197.387,37520.586,44156.05,44806.664,35205.305,37084.76,0
2,37034.08,32958.91,30672.584,35120.055,33878.67,30984.76,31887.48,33932.176,32330.637,33516.383,...,30893.285,29335.057,30275.598,27795.969,35451.29,31876.684,33188.71,31079.07,29567.842,0
3,40373.01,39172.58,36063.445,39989.805,43870.273,39383.9,38319.734,40495.92,43173.76,39780.66,...,42154.035,48119.09,47968.234,42878.668,42288.918,43319.01,45257.645,46477.844,45871.21,0
4,41610.598,40422.473,38349.855,38442.582,38594.89,38605.57,37229.637,32423.75,36419.72,35354.293,...,36105.812,36736.414,36584.82,38108.125,37896.473,36942.79,38658.008,32865.98,35203.305,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,35966.43,31354.22,33903.348,33235.08,30908.52,28813.404,30735.033,32976.793,35838.184,34097.684,...,33730.88,35229.45,44365.934,38775.973,36236.76,30241.285,26811.979,33050.04,31270.215,1
285,41874.29,36105.01,41555.37,39560.094,37896.668,33765.742,37120.76,38938.375,39602.96,42857.434,...,36499.91,34797.867,36238.62,36512.34,34871.56,33849.723,37146.4,36732.86,38435.91,1
286,40157.133,36490.883,37367.066,38694.938,37839.31,37946.395,41002.496,37823.97,38525.453,37966.414,...,38141.33,40852.082,36878.637,41441.773,42913.97,43716.273,40707.285,43065.098,46562.453,1
287,39559.773,38093.25,36108.24,35830.58,35106.38,32481.371,33811.72,36629.312,31680.455,26519.926,...,33076.223,36965.71,33661.574,30480.785,36267.145,31787.547,31908.26,30938.363,33374.22,1
288,38479.258,39748.457,41946.24,41614.87,36558.926,34918.92,34500.83,31962.148,35979.1,30637.1,...,42784.117,38234.6,45702.38,43467.742,39496.637,35174.11,38524.91,41265.24,42578.77,1

283

                                             intensity  label
0    30100.79 32729.877 36732.895 37669.848 32537.6...      0
1    38039.69 34171.793 39020.336 40280.938 41574.2...      0
2    37078.28 43995.574 50767.055 40996.863 40003.7...      0
3    37886.934 37573.773 35563.168 36116.715 39350....      0
4    35040.754 34792.93 32132.518 36899.184 39146.3...      0
..                                                 ...    ...
278  26501.65 38993.22 52648.84 39857.73 49547.83 4...      1
279  51885.805 65412.047 93148.195 53861.58 57743.2...      1
280  38479.016 35396.88 36292.17 33213.977 30866.61...      1
281  51077.11 47068.07 45260.812 42417.41 42259.25 ...      1
282  29827.918 31065.168 33949.316 32289.418 32881....      1

[283 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,30100.79,32729.877,36732.895,37669.848,32537.652,32056.24,30889.303,34138.477,25950.637,35705.285,...,34192.67,33369.684,29501.875,29602.322,39460.0,36142.297,34800.19,33790.996,33588.61,0
1,38039.69,34171.793,39020.336,40280.938,41574.207,40693.598,34300.48,38520.598,42795.875,36019.5,...,39285.574,37585.207,39048.895,42679.992,41444.047,39088.734,34388.855,29054.16,29227.576,0
2,37078.28,43995.574,50767.055,40996.863,40003.75,39088.688,40943.1,42234.797,49882.527,37606.832,...,36939.973,33865.133,31532.854,34665.168,40153.68,41575.98,35428.324,26664.97,30313.766,0
3,37886.934,37573.773,35563.168,36116.715,39350.832,46142.797,39403.8,39917.227,42467.21,38954.184,...,42109.746,44628.105,42895.895,36563.527,33522.547,36197.83,36164.168,38562.477,39700.836,0
4,35040.754,34792.93,32132.518,36899.184,39146.3,39101.94,38377.945,34329.605,39830.31,38641.69,...,38860.5,38017.547,38896.086,35507.375,35131.316,41456.0,36458.457,38068.906,39229.777,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,26501.65,38993.22,52648.84,39857.73,49547.83,48318.51,45788.375,35567.7,34371.832,43230.04,...,37543.945,34257.734,39708.047,39833.74,45619.96,42047.613,44041.94,37877.105,42296.777,1
279,51885.805,65412.047,93148.195,53861.58,57743.25,70076.68,57043.766,67797.51,82587.21,69920.97,...,26366.07,23125.924,65388.234,46729.242,33896.69,27629.28,19569.377,22210.564,22445.48,1
280,38479.016,35396.88,36292.17,33213.977,30866.61,29483.486,37598.543,34561.6,35685.777,34389.63,...,30974.064,44589.87,44827.395,41797.508,33475.016,33493.57,33662.4,37211.93,36679.25,1
281,51077.11,47068.07,45260.812,42417.41,42259.25,40924.42,39498.773,37890.18,38524.125,38931.934,...,37168.543,38190.41,45710.906,39419.74,39986.89,38057.26,40593.996,38597.68,41065.19,1
282,29827.918,31065.168,33949.316,32289.418,32881.504,35274.434,33370.688,34742.094,34157.74,31899.156,...,36443.625,33354.258,35321.008,33763.09,37992.88,33445.527,36568.055,35973.723,29363.81,1

268

                                             intensity  label
0    41823.715 41563.625 37476.82 41042.082 42095.7...      0
1    43518.508 49504.777 44105.477 43600.54 43151.1...      0
2    35669.863 34998.965 35991.562 37525.26 38528.7...      0
3    39280.543 35480.996 32072.943 32681.535 33530....      0
4    41922.047 39251.04 39793.89 39247.73 39775.805...      0
..                                                 ...    ...
263  38847.418 40820.625 39115.355 39687.34 40779.3...      1
264  37781.05 32212.83 34605.086 37535.81 35452.586...      1
265  46718.227 45110.95 37878.848 45237.152 37851.3...      1
266  38620.914 39014.285 36580.543 36463.023 37831....      1
267  37819.11 31366.01 20380.592 36651.76 33653.55 ...      1

[268 rows x 2 columns]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,41823.715,41563.625,37476.82,41042.082,42095.73,40019.664,47015.406,43000.53,39471.367,36874.945,...,40521.58,38558.277,41658.59,39041.824,43815.758,41836.59,42522.973,42072.74,43587.98,0
1,43518.508,49504.777,44105.477,43600.54,43151.164,36914.094,43724.055,47598.996,51543.24,40687.82,...,44826.84,40914.42,41197.152,40435.797,52056.137,38308.348,38849.523,42279.547,33997.14,0
2,35669.863,34998.965,35991.562,37525.26,38528.754,37674.734,35113.53,35564.855,37459.32,34255.918,...,38394.57,40916.51,37921.105,37410.08,41592.258,34784.336,39358.715,41374.137,38443.86,0
3,39280.543,35480.996,32072.943,32681.535,33530.332,41302.0,38464.402,39647.945,38139.156,39574.586,...,38144.34,41048.74,43753.855,41195.203,42834.836,36491.535,40469.453,42898.87,42189.152,0
4,41922.047,39251.04,39793.89,39247.73,39775.805,39056.723,38552.44,38444.996,41459.754,40050.562,...,45682.133,43115.465,40289.08,39425.207,39668.312,37328.07,42138.82,41106.855,41546.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,38847.418,40820.625,39115.355,39687.34,40779.348,41866.37,44131.344,42171.883,39407.81,37923.723,...,43880.766,43717.32,39734.613,34208.656,33675.195,30883.793,33314.555,31364.857,26822.361,1
264,37781.05,32212.83,34605.086,37535.81,35452.586,33895.555,35625.562,34750.945,30775.19,34306.78,...,35668.16,35952.32,36421.523,35523.926,42666.617,35020.66,33219.414,32677.086,35527.36,1
265,46718.227,45110.95,37878.848,45237.152,37851.348,49219.707,51065.527,43746.414,36786.56,39571.438,...,49171.125,38693.71,36114.957,44893.277,49464.934,46945.258,48009.453,44597.863,42969.152,1
266,38620.914,39014.285,36580.543,36463.023,37831.92,36308.89,38915.363,38581.46,35917.27,33530.773,...,43871.875,41435.27,33991.723,38995.297,35563.332,33568.707,31472.967,32266.3,31063.422,1
267,37819.11,31366.01,20380.592,36651.76,33653.55,40548.914,41636.145,44349.367,45530.77,31322.256,...,47837.01,33798.11,32546.797,43417.3,34734.21,32465.047,35994.973,44804.008,32453.14,1

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

126

                                             intensity
0    [41517.383, 46243.195, 50213.51, 48564.62, 472...
1    [45571.363, 44183.336, 44261.29, 43227.465, 42...
2    [52829.117, 57250.074, 52960.84, 53769.95, 516...
3    [35359.363, 35041.8, 34450.543, 31039.785, 325...
4    [30237.719, 31306.467, 29290.838, 28825.803, 3...
..                                                 ...
121  [15811.95, 15304.774, 14617.845, 17504.709, 18...
122  [40767.477, 43768.582, 47094.953, 44044.383, 4...
123  [40045.145, 39373.133, 37011.086, 44194.16, 32...
124  [39459.402, 42775.27, 38856.84, 37292.13, 3966...
125  [37247.883, 40325.605, 41271.207, 38210.16, 42...

[126 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [4]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

142

                                             intensity
0    [47013.59, 46211.414, 40030.516, 40526.547, 41...
1    [34610.992, 35588.61, 34234.23, 37894.086, 385...
2    [33161.656, 34188.63, 26478.705, 27697.96, 289...
3    [28327.996, 36637.89, 37061.484, 36542.7, 3722...
4    [37148.402, 42154.926, 53276.688, 43390.73, 39...
..                                                 ...
137  [49705.1, 42685.668, 52887.23, 66005.266, 5898...
138  [39651.688, 35226.39, 36477.383, 29438.195, 25...
139  [49608.004, 27156.943, 32731.66, 41224.547, 43...
140  [36261.227, 39786.168, 38564.445, 60805.086, 4...
141  [34146.08, 30888.322, 34356.59, 30020.463, 328...

[142 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [10]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * 126
y =[1]*142
z=x+y

In [11]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    41517.383 46243.195 50213.51 48564.62 47253.13...      0
1    45571.363 44183.336 44261.29 43227.465 42442.4...      0
2    52829.117 57250.074 52960.84 53769.95 51697.95...      0
3    35359.363 35041.8 34450.543 31039.785 32581.20...      0
4    30237.719 31306.467 29290.838 28825.803 32296....      0
..                                                 ...    ...
263  49705.1 42685.668 52887.23 66005.266 58983.38 ...      1
264  39651.688 35226.39 36477.383 29438.195 25624.1...      1
265  49608.004 27156.943 32731.66 41224.547 43036.3...      1
266  36261.227 39786.168 38564.445 60805.086 45142....      1
267  34146.08 30888.322 34356.59 30020.463 32833.49...      1

[268 rows x 2 columns]

In [12]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fire/CDI_Based/Intensity/CSV/Optical_Ang.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,41517.383,46243.195,50213.51,48564.62,47253.137,41203.62,41810.07,41990.61,46382.402,44329.05,...,44556.355,45286.61,43465.453,43711.67,42153.008,35667.18,40430.383,39293.223,38207.176,0
1,45571.363,44183.336,44261.29,43227.465,42442.445,41081.484,39885.55,45008.055,45332.703,40804.586,...,45154.99,45681.477,44385.438,35756.36,42928.957,41720.918,43039.38,43178.41,41953.867,0
2,52829.117,57250.074,52960.84,53769.95,51697.95,52752.5,49191.38,47728.793,45490.37,48717.926,...,53085.984,45066.62,45043.336,46123.2,46589.04,47338.055,46064.566,46574.496,47054.395,0
3,35359.363,35041.8,34450.543,31039.785,32581.207,33702.82,37097.355,40790.992,36675.98,33821.934,...,62200.08,87386.54,87386.54,30807.486,38568.535,39897.043,65009.93,75728.65,88340.945,0
4,30237.719,31306.467,29290.838,28825.803,32296.393,33004.34,32396.982,37117.758,37167.16,36492.49,...,34176.867,32114.684,39932.66,35943.242,35096.867,36974.55,39431.715,30457.986,26386.412,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,49705.1,42685.668,52887.23,66005.266,58983.38,43073.418,44143.387,50811.227,58566.336,45148.887,...,32626.473,39135.695,34591.484,33571.484,28843.125,26323.703,26936.736,37097.906,29019.691,1
264,39651.688,35226.39,36477.383,29438.195,25624.168,37918.08,36382.58,36871.97,35234.65,34631.816,...,39649.4,31572.324,32281.297,40164.668,40067.934,34494.527,34795.777,36952.527,37628.9,1
265,49608.004,27156.943,32731.66,41224.547,43036.31,36088.133,31747.773,36908.586,39251.047,39364.83,...,39008.07,39481.598,39166.785,41091.824,45164.523,42898.63,44732.16,40157.45,37434.516,1
266,36261.227,39786.168,38564.445,60805.086,45142.55,32221.055,33687.355,66837.836,50878.043,29382.617,...,32629.408,62098.625,65065.723,56958.664,39536.867,38578.766,50386.77,55269.215,44295.78,1
267,34146.08,30888.322,34356.59,30020.463,32833.49,36071.53,26697.385,28093.932,27302.883,35109.688,...,33905.68,32782.24,33219.668,35430.09,42810.92,31519.805,29575.99,33934.63,44328.168,1