In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fire\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fire\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

126

                                             intensity
0    [41517.383, 46243.195, 50213.51, 48564.62, 472...
1    [45571.363, 44183.336, 44261.29, 43227.465, 42...
2    [52829.117, 57250.074, 52960.84, 53769.95, 516...
3    [35359.363, 35041.8, 34450.543, 31039.785, 325...
4    [30237.719, 31306.467, 29290.838, 28825.803, 3...
..                                                 ...
121  [15811.95, 15304.774, 14617.845, 17504.709, 18...
122  [40767.477, 43768.582, 47094.953, 44044.383, 4...
123  [40045.145, 39373.133, 37011.086, 44194.16, 32...
124  [39459.402, 42775.27, 38856.84, 37292.13, 3966...
125  [37247.883, 40325.605, 41271.207, 38210.16, 42...

[126 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [4]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

142

                                             intensity
0    [47013.59, 46211.414, 40030.516, 40526.547, 41...
1    [34610.992, 35588.61, 34234.23, 37894.086, 385...
2    [33161.656, 34188.63, 26478.705, 27697.96, 289...
3    [28327.996, 36637.89, 37061.484, 36542.7, 3722...
4    [37148.402, 42154.926, 53276.688, 43390.73, 39...
..                                                 ...
137  [49705.1, 42685.668, 52887.23, 66005.266, 5898...
138  [39651.688, 35226.39, 36477.383, 29438.195, 25...
139  [49608.004, 27156.943, 32731.66, 41224.547, 43...
140  [36261.227, 39786.168, 38564.445, 60805.086, 4...
141  [34146.08, 30888.322, 34356.59, 30020.463, 328...

[142 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [10]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * 126
y =[1]*142
z=x+y

In [11]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    41517.383 46243.195 50213.51 48564.62 47253.13...      0
1    45571.363 44183.336 44261.29 43227.465 42442.4...      0
2    52829.117 57250.074 52960.84 53769.95 51697.95...      0
3    35359.363 35041.8 34450.543 31039.785 32581.20...      0
4    30237.719 31306.467 29290.838 28825.803 32296....      0
..                                                 ...    ...
263  49705.1 42685.668 52887.23 66005.266 58983.38 ...      1
264  39651.688 35226.39 36477.383 29438.195 25624.1...      1
265  49608.004 27156.943 32731.66 41224.547 43036.3...      1
266  36261.227 39786.168 38564.445 60805.086 45142....      1
267  34146.08 30888.322 34356.59 30020.463 32833.49...      1

[268 rows x 2 columns]

In [12]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fire/CDI_Based/Intensity/CSV/Optical_Ang.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,41517.383,46243.195,50213.51,48564.62,47253.137,41203.62,41810.07,41990.61,46382.402,44329.05,...,44556.355,45286.61,43465.453,43711.67,42153.008,35667.18,40430.383,39293.223,38207.176,0
1,45571.363,44183.336,44261.29,43227.465,42442.445,41081.484,39885.55,45008.055,45332.703,40804.586,...,45154.99,45681.477,44385.438,35756.36,42928.957,41720.918,43039.38,43178.41,41953.867,0
2,52829.117,57250.074,52960.84,53769.95,51697.95,52752.5,49191.38,47728.793,45490.37,48717.926,...,53085.984,45066.62,45043.336,46123.2,46589.04,47338.055,46064.566,46574.496,47054.395,0
3,35359.363,35041.8,34450.543,31039.785,32581.207,33702.82,37097.355,40790.992,36675.98,33821.934,...,62200.08,87386.54,87386.54,30807.486,38568.535,39897.043,65009.93,75728.65,88340.945,0
4,30237.719,31306.467,29290.838,28825.803,32296.393,33004.34,32396.982,37117.758,37167.16,36492.49,...,34176.867,32114.684,39932.66,35943.242,35096.867,36974.55,39431.715,30457.986,26386.412,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,49705.1,42685.668,52887.23,66005.266,58983.38,43073.418,44143.387,50811.227,58566.336,45148.887,...,32626.473,39135.695,34591.484,33571.484,28843.125,26323.703,26936.736,37097.906,29019.691,1
264,39651.688,35226.39,36477.383,29438.195,25624.168,37918.08,36382.58,36871.97,35234.65,34631.816,...,39649.4,31572.324,32281.297,40164.668,40067.934,34494.527,34795.777,36952.527,37628.9,1
265,49608.004,27156.943,32731.66,41224.547,43036.31,36088.133,31747.773,36908.586,39251.047,39364.83,...,39008.07,39481.598,39166.785,41091.824,45164.523,42898.63,44732.16,40157.45,37434.516,1
266,36261.227,39786.168,38564.445,60805.086,45142.55,32221.055,33687.355,66837.836,50878.043,29382.617,...,32629.408,62098.625,65065.723,56958.664,39536.867,38578.766,50386.77,55269.215,44295.78,1
267,34146.08,30888.322,34356.59,30020.463,32833.49,36071.53,26697.385,28093.932,27302.883,35109.688,...,33905.68,32782.24,33219.668,35430.09,42810.92,31519.805,29575.99,33934.63,44328.168,1