In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Road/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

299

In [5]:
x = [0] * 198
y =[1]*101
z=x+y

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    1074 1321 1119 1017 641 516 739 488 528 2001 4...      0
1    7576 10171 10343 8763 9941 9413 5300 6376 5899...      0
2    53278 53234 69372 72007 75511 73747 70448 6249...      0
3    17785 13114 62713 62284 15054 5559 5506 51215 ...      0
4    27003 27613 20871 18814 16686 11882 10807 1542...      0
..                                                 ...    ...
294  9182 6962 7807 8369 19384 37742 40759 42870 38...      1
295  12348 11484 31713 29357 33553 19268 17112 6560...      1
296  8122 1548 1481 23052 3270 3027 2356 2445 1940 ...      1
297  17282 7796 8301 18079 13408 8310 7342 7199 238...      1
298  23607 29442 42351 50884 76068 71996 80315 7823...      1

[299 rows x 2 columns]

In [7]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Road/CDI_Based/Intensity/CSV/Laplacian_With_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,1074,1321,1119,1017,641,516,739,488,528,2001,...,487,215,398,8972,4795,1125,893,1120,1040,0
1,7576,10171,10343,8763,9941,9413,5300,6376,5899,5800,...,7131,6631,6397,8175,8018,6910,7164,5510,6540,0
2,53278,53234,69372,72007,75511,73747,70448,62495,43791,45607,...,40124,28053,26904,33205,43384,31893,25258,35229,63726,0
3,17785,13114,62713,62284,15054,5559,5506,51215,54895,4182,...,4634,597,385,55820,57752,46603,2946,2824,1888,0
4,27003,27613,20871,18814,16686,11882,10807,15429,22022,17655,...,16114,15777,15620,19524,25247,22502,20136,13621,15005,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,9182,6962,7807,8369,19384,37742,40759,42870,38554,33138,...,23592,22536,24607,31549,50975,30402,23535,25178,27069,1
295,12348,11484,31713,29357,33553,19268,17112,65606,32731,36034,...,36517,16253,17806,49108,10413,6056,10505,8190,8360,1
296,8122,1548,1481,23052,3270,3027,2356,2445,1940,1048,...,4947,1439,1759,16026,3156,3495,9577,5090,18937,1
297,17282,7796,8301,18079,13408,8310,7342,7199,23899,31824,...,34565,22825,15440,21411,26753,24594,34028,20600,18887,1
298,23607,29442,42351,50884,76068,71996,80315,78231,83286,81539,...,68475,57094,58982,79076,61291,57781,53949,48143,51031,1