In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Road/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=26:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

299

In [5]:
x = [0] * 198
y =[1]*101
z=x+y

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    988.3669 175.44109 361.91776 247.36005 108.590...      0
1    930.0564 1790.4213 1249.7902 1067.5514 1505.53...      0
2    3066.5469 3238.5737 2752.1768 1091.7639 1159.7...      0
3    1458.1394 1689.237 1215.5862 1421.9758 240.498...      0
4    798.3445 571.968 351.84625 729.9891 162.7601 1...      0
..                                                 ...    ...
294  990.0758 619.914 897.4444 4756.0283 9130.939 1...      1
295  18929.725 5528.4355 13582.643 19881.496 79074....      1
296  1280.4517 517.90173 28956.324 32337.39 45106.1...      1
297  363.7551 276.40176 378.2242 767.70483 581.5165...      1
298  9327.614 11393.421 29343.705 26976.045 29501.6...      1

[299 rows x 2 columns]

In [7]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Road/CDI_Based/Intensity/CSV/Optical_Mag.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,Class
0,988.3669,175.44109,361.91776,247.36005,108.59085,116.81109,755.5121,415.54663,459.68686,439.5641,...,345.47638,67.87378,76.5795,609.8738,2704.8977,596.1111,294.66406,132.1786,343.93466,0
1,930.0564,1790.4213,1249.7902,1067.5514,1505.532,467.0539,902.11035,1108.9097,540.39185,537.0299,...,603.086,578.0877,1551.1116,926.32623,2544.8142,532.6037,1373.9475,699.61945,483.91727,0
2,3066.5469,3238.5737,2752.1768,1091.7639,1159.7312,1869.8704,1728.6023,1610.7317,915.9273,881.1073,...,723.75476,543.95416,393.83524,440.70917,1096.1488,634.3689,568.96075,591.5392,9152.497,0
3,1458.1394,1689.237,1215.5862,1421.9758,240.49838,212.49644,994.6244,856.2137,2017.4313,544.82825,...,5081.1855,69.44509,44.604267,794.06335,2358.5027,663.0122,757.42084,3496.484,4767.0063,0
4,798.3445,571.968,351.84625,729.9891,162.7601,183.91235,259.22333,349.06876,798.9887,707.7595,...,1399.536,124.36855,176.13458,284.57736,1291.4895,505.92578,1592.6498,151.43918,317.40497,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,990.0758,619.914,897.4444,4756.0283,9130.939,12651.06,19485.176,14048.94,28397.584,20932.688,...,3109.2212,2810.3755,6096.8984,4252.297,3891.899,4112.72,3335.894,3716.659,4660.2124,1
295,18929.725,5528.4355,13582.643,19881.496,79074.95,32916.586,25118.66,48821.367,64215.367,50668.062,...,9337.546,2667.7183,7384.62,3692.105,4051.0237,1511.2406,1879.223,1277.8806,1213.167,1
296,1280.4517,517.90173,28956.324,32337.39,45106.156,68788.42,44135.246,63046.727,380.6338,885.546,...,19811.428,292.11264,792.7146,33209.684,3360.5767,1868.2761,83449.3,41604.875,36773.59,1
297,363.7551,276.40176,378.2242,767.70483,581.5165,901.8723,832.42694,396.92075,482.02994,827.1014,...,1486.7688,1277.288,1272.4279,532.6923,3183.43,1476.696,1600.8147,2010.223,549.46216,1
298,9327.614,11393.421,29343.705,26976.045,29501.621,27788.572,24907.656,23752.883,58271.8,30343.334,...,6273.403,7714.245,6288.9814,23067.154,9009.798,9408.15,11130.11,11266.814,12456.241,1