In [8]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Fight/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

In [9]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [10]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [11]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

247

In [12]:
x = [0] * 159
y =[1]*88
z=x+y

In [13]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    5412 4168 7519 2175 299 234 263 121 110 62 30 ...      0
1    39537 36454 44417 40149 27996 35317 45870 4193...      0
2    12332 15710 10042 13339 15971 4847 5412 5715 8...      0
3    21136 10036 7868 5926 7761 16621 8867 6472 445...      0
4    12141 28375 4853 2981 27951 6913 3846 34829 29...      0
..                                                 ...    ...
242  44660 52520 52837 48893 49116 56015 60404 6628...      1
243  9927 9606 12006 10015 11004 16041 21695 20616 ...      1
244  120944 99866 110535 110746 121333 130738 10428...      1
245  53698 49002 54061 66960 67149 72643 66309 6332...      1
246  21314 23393 27334 34883 36950 31503 33179 3273...      1

[247 rows x 2 columns]

In [14]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fight/CDI_Based/Intensity/CSV/Laplacian_With_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,5412,4168,7519,2175,299,234,263,121,110,62,...,12399,11303,8580,12209,17467,9731,8077,10656,5498,0
1,39537,36454,44417,40149,27996,35317,45870,41934,44550,53433,...,49965,47204,43427,55202,37512,23799,31261,35287,33041,0
2,12332,15710,10042,13339,15971,4847,5412,5715,8088,11607,...,36692,23888,20097,22106,53143,28241,14864,9703,8547,0
3,21136,10036,7868,5926,7761,16621,8867,6472,4450,5385,...,7422,12168,1833,2811,4705,5010,19603,8099,6008,0
4,12141,28375,4853,2981,27951,6913,3846,34829,2982,3016,...,26108,5299,3198,22882,3097,2470,14989,3706,2596,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,44660,52520,52837,48893,49116,56015,60404,66289,54084,55758,...,78955,77544,62442,61843,61706,62258,57618,48412,51339,1
243,9927,9606,12006,10015,11004,16041,21695,20616,23345,24673,...,38804,45183,44875,46695,46210,43352,48740,44865,40529,1
244,120944,99866,110535,110746,121333,130738,104284,96082,97128,137365,...,117829,107581,130601,139509,151606,129179,134482,143776,117533,1
245,53698,49002,54061,66960,67149,72643,66309,63327,64660,61454,...,38511,45717,49990,55389,73715,53107,41004,41995,44675,1
246,21314,23393,27334,34883,36950,31503,33179,32738,31259,29420,...,34341,34779,34544,44725,37496,35362,29724,32824,35868,1