In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fire\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fire\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [3]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [6]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * 126
y =[1]*142
z=x+y

In [8]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    3280575 3144915 2707590 2301885 2106045 189159...      0
1    3219120 2592585 2254200 2160870 2123895 212389...      0
2    4644825 4378605 4139925 4280175 4444650 415165...      0
3    2279445 2429640 2699175 2993955 2389605 242632...      0
4    4416855 3629925 2853705 2403885 3245640 374697...      0
..                                                 ...    ...
263  3968820 3883650 3896400 4142730 4021350 393949...      1
264  566100 1036320 539580 689010 3527415 3323160 2...      1
265  112965 65280 60435 3745950 4290120 4288590 396...      1
266  5381265 5533245 5419515 5637030 5951700 545827...      1
267  1198245 866235 1618995 2446725 3380280 3280065...      1

[268 rows x 2 columns]

In [9]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fire/CDI_Based/Intensity/CSV/Laplacian_No_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3280575,3144915,2707590,2301885,2106045,1891590,1785510,1748280,1665150,1575900,...,2458200,2527815,2621655,3295875,2804745,1945140,1633275,1953555,2412555,0
1,3219120,2592585,2254200,2160870,2123895,2123895,1980075,1828605,2140215,2262105,...,2994465,2716005,2276385,2793780,3319845,2435760,2159850,2058615,2010930,0
2,4644825,4378605,4139925,4280175,4444650,4151655,4120545,4174860,4174095,4527270,...,4463265,4516305,4677465,4939605,4854690,4520385,4433685,4458165,4575975,0
3,2279445,2429640,2699175,2993955,2389605,2426325,2762925,2395215,2418675,2890935,...,17085,17085,17085,11985,241230,128265,22440,23460,24225,0
4,4416855,3629925,2853705,2403885,3245640,3746970,3165315,4081275,4250850,4007580,...,5141565,4381665,4389315,5556705,2964630,2942700,4444395,2815200,2188920,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,3968820,3883650,3896400,4142730,4021350,3939495,3795165,3776295,4046850,3771195,...,3016140,3081420,2912355,2953155,2838915,2936835,3190815,2842995,2925615,1
264,566100,1036320,539580,689010,3527415,3323160,2955450,2551275,1673820,1466760,...,3262470,3030930,2843250,2865690,2706060,2648685,2776695,2000220,1725840,1
265,112965,65280,60435,3745950,4290120,4288590,3966780,3954540,4085355,3959895,...,3088305,2377875,1407345,1715385,3404760,3325200,3969075,4144005,4246770,1
266,5381265,5533245,5419515,5637030,5951700,5458275,5433030,5704095,5867295,5369535,...,5062005,5334345,5460570,5279775,5405745,5725260,5727045,5697975,5619945,1
267,1198245,866235,1618995,2446725,3380280,3280065,3146700,3680415,3454995,3569235,...,2966160,2660415,2616810,3481770,2797095,2698665,2603295,2499510,3009765,1